{% extends 'base.html' %}

{% block content %}

<section class="auth-page">
    <form method="POST" class="auth-card">
        {% csrf_token %}

        <h2>Create Account</h2>
        <p>Join Electrical Edge and access premium resources.</p>

        <input type="text" name="username" placeholder="Username" required>

        <input type="email" name="email" placeholder="Email" required>

        <input type="password" name="password" placeholder="Password" required>

        <button type="submit" class="btn-primary">Register</button>

        <p class="auth-link">
            Already have an account?
            <a href="{% url 'login' %}">Login</a>
        </p>
    </form>
</section>

{% endblock %}